<!DOCTYPE html>
<head>
  <title>Home</title>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"
  />
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='favicon.ico') }}"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='bootstrap/css/custom.css') }}"
  />
  <script>
    
    function httpGet(theUrl)
    {
        let xmlhttp;
        
        if (window.XMLHttpRequest) { // code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp=new XMLHttpRequest();
        } else { // code for IE6, IE5
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        
        xmlhttp.onreadystatechange=function() {
            if (xmlhttp.readyState==4 && xmlhttp.status==200) {
                return xmlhttp.responseText;
            }
        }
        xmlhttp.open("GET", theUrl, false);
        xmlhttp.send();
        
        return xmlhttp.response;
    }
    function startup(){
      var r =JSON.parse(httpGet('/partner_prediction'));
      console.log(r.length)
      console.log(r)
      var items = ""
      for(var id=0;id<r.length;id++){
        items+="<div class=\"item\">\n" +
           "<img src='" + r[id][3]+ "'>"+
            "            <h5>" +r[id][1]+ "</h5>\n" +
            "            <br />\n" +
            "            <br />\n" +
            "            <header>\n" +
            "              <h6>E-Mail:<br>"+r[id][2]+" </h6>\n" +
            "            </header>\n" +
            "            <header>\n" +
            "              <h6>Avg-Distance:<br>"+parseInt(r[id][4])+" km </h6>\n" +
            "              <h6>Avg-Duration:<br>"+parseInt(r[id][5])+" min </h6>\n" +
            "            </header>\n" +
            "            <div class=\"col text-center\">\n" +
            "              <a href=\"{{ url_for('start_run') }}\"  class=\"btn btn-primary\">Select</a>\n" +
            "            </div>\n" +
            "          </div>"
      }
      document.getElementById('items_wrap').innerHTML = items; 
    }
  </script>
</head>
<html>
  <body onload="startup()">
    <main>
      <!-- Step 1 -->
      <div class="col text-center">
        <br />
        <br />
        <h1 class="display-15 fw-bold text-primary">Step 3</h1>
        <h3>Select one of the recommended partner</h3>
      </div>
      <!-- Display Routes-->
      <div class="labeling-container">
        
        <div class="wrapper2" id="items_wrap">
          </div>
        </div>
       
    </main>
  </body>
</html>
