<!DOCTYPE html>
<head>
  <title>Home</title>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"
  />
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='favicon.ico') }}"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='bootstrap/css/custom.css') }}"
  />
</head>
<html>
  <body>
    <main>
      <div class="container-img">
        <!-- Title with image-->
        <img
          src="{{ url_for('static', filename='images/running.png') }}"
          alt="run"
          style="width: 100%"
        />
        <div class="centered">
          <h1 style="color: rgb(209, 209, 209); font-size: 55px">
            Welcome to Contoso Sports!
          </h1>
          <br />
          <h3 style="color: rgb(209, 209, 209)">
            Connecting people through exercise
          </h3>
        </div>
      </div>
      <!-- Step 1 -->
      <div class="col text-center">
        <br />
        <br />
        <h1 class="display-15 fw-bold text-primary">Step 1</h1>
        <h3>Select one of the recommended routes</h3>
      </div>
      <!-- Display Routes-->
      <div class="labeling-container">
        <div class="item">
          <h5>Route Name: 1</h5>
          <img src="{{ url_for('static', filename='images/route1.png') }}" />
          <br />
          <br />
          <header>
            <h6>Distance: DB_PLACEHOLDER</h6>
          </header>
          <header>
            <h6>Duration: DB_PLACEHOLDER</h6>
          </header>
          <br />
          <div class="col text-center">
            <button class="btn btn-primary">Select</button>
          </div>
        </div>
        <div class="item">
          <h5>Route Name: 2</h5>
          <img src="{{ url_for('static', filename='images/route1.png') }}" />
          <br />
          <br />
          <header>
            <h6>Distance: DB_PLACEHOLDER</h6>
          </header>
          <header>
            <h6>Duration: DB_PLACEHOLDER</h6>
          </header>
          <br />
          <div class="col text-center">
            <button class="btn btn-primary">Select</button>
          </div>
        </div>
        <div class="item">
          <h5>Route Name: 3</h5>
          <img src="{{ url_for('static', filename='images/route1.png') }}" />
          <br />
          <br />
          <header>
            <h6>Distance: DB_PLACEHOLDER</h6>
          </header>
          <header>
            <h6>Duration: DB_PLACEHOLDER</h6>
          </header>
          <br />
          <div class="col text-center">
            <button class="btn btn-primary">Select</button>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
