<!DOCTYPE html>
<head>
  <title>Home</title>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"
  />
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='favicon.ico') }}"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='bootstrap/css/custom.css') }}"
  />
</head>
<html>
  <body>
    <main>
      <!-- Step 1 -->
      <div class="col text-center">
        <br />
        <br />
        <h1 class="display-15 fw-bold text-primary">Step 2</h1>
        <h3>Select one of the recommended routes</h3>
      </div>
      <!-- Display Routes-->
      <div class="labeling-container">
        <div class="item">
          <h5>Route Name: 1</h5>
          
          <br />
          <br />
          <header>
            <h6>Distance: DB_PLACEHOLDER</h6>
          </header>
          <header>
            <h6>Duration: DB_PLACEHOLDER</h6>
          </header>
          <br />
          <div class="col text-center">
            <button class="btn btn-primary">Select</button>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
