<!DOCTYPE html>
<head>
  <title>Select Route</title>
  <!-- Add references to the Azure Maps Map control JavaScript and CSS files. -->
  <link
    rel="stylesheet"
    href="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.css"
    type="text/css"
  />
  <script src="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.js"></script>

  <!-- Add a reference to the Azure Maps Services Module JavaScript file. -->
  <script src="https://atlas.microsoft.com/sdk/javascript/service/2/atlas-service.min.js"></script>

  <script>
    var cam_pos = [];
    var map, client;
    var colors = ["#E50000","#AA7C7C","#990000"]

    function httpGet(theUrl)
    {
        let xmlhttp;
        
        if (window.XMLHttpRequest) { // code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp=new XMLHttpRequest();
        } else { // code for IE6, IE5
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        
        xmlhttp.onreadystatechange=function() {
            if (xmlhttp.readyState==4 && xmlhttp.status==200) {
                return xmlhttp.responseText;
            }
        }
        xmlhttp.open("GET", theUrl, false);
        xmlhttp.send();
        
        return xmlhttp.response;
    }
    function GetMap() {
      var xmlhttp=new XMLHttpRequest();
       //Instantiate a map object
       

      var r =JSON.parse(httpGet('/routes_all'));
      var items = ""
      for(var id=0;id<3;id++){
          items+="<div class=\"item\">\n" +
            "            <h5 style='color:" + colors[id]+"'>" +r[id][1]+ "</h5>\n" +
            "            <br />\n" +
            "            <br />\n" +
            "            <header>\n" +
            "              <h6>Distance: "+r[id][3]+" km </h6>\n" +
            "            </header>\n" +
            "            <header>\n" +
            "              <h6>Avg Duration: "+parseInt(r[id][4])+" min</h6>\n" +
            "            </header>\n" +
            "            <br />\n" +
            "            <div class=\"col text-center\">\n" +
            "              <a href=\"{{ url_for('select_parameters') }}\"  class=\"btn btn-primary\">Select</a>\n" +
            "            </div>\n" +
            "          </div>"
      }
      
      document.getElementById('items_wrap').innerHTML = items; 
      //var titleList =httpGet('/tracks/3');
      //console.log("titleList")
     // console.log(titleList)
      //Add Map Control JavaScript code here.
      //Wait until the map resources are ready.
      map.events.add("ready", function () {
        //Create a data source and add it to the map.
        
       // load_map_data(1);
       load_map_data(1, colors[0])
       load_map_data(4, colors[1])
       load_map_data(7, colors[2])

        
      });
    }
    function load_map_data(id,color){
      var datasource = new atlas.source.DataSource();
        map.sources.add(datasource);

        //Add a layer for rendering the route lines and have it render under the map labels.
        map.layers.add(
          new atlas.layer.LineLayer(datasource, null, {
            strokeColor: color,
            strokeWidth: 5,
            lineJoin: "round",
            lineCap: "round",
          }),
          "labels"
        );

        //Add a layer for rendering point data.
        map.layers.add(
          new atlas.layer.SymbolLayer(datasource, null, {
            iconOptions: {
              image: ["get", "icon"],
              allowOverlap: true,
            },
            textOptions: {
              textField: ["get", "title"],
              offset: [0, 1.2],
            },
            filter: [
              "any",
              ["==", ["geometry-type"], "Point"],
              ["==", ["geometry-type"], "MultiPoint"],
            ], //Only render Point or MultiPoints in this layer.
          })
        );

        var arraycoor2 =JSON.parse(httpGet('/tracks/'+id));
        var arraycoor = []
        for(var i= 0; i<arraycoor2.length;i+=90){
          arraycoor.push(arraycoor2[i])
        }
        console.log(arraycoor.reduce((acc, val) => {
        return acc[0] < val[0] ? acc[0] : val[0];
        }));
        var datapoints = [];

        for (var x = 0; x < arraycoor.length; x++) {
          //Create the GeoJSON objects which represent the start and end points of the route.
          var Point = new atlas.data.Feature(
            new atlas.data.Point(arraycoor[x]),
            {
              title: ""
              //icon: "pin-blue"
            }
          );
          datapoints.push(Point);
        }
        cam_pos.push([datapoints[0],datapoints[99]])

        //Add the data to the data source.
        datasource.add(datapoints);
        var startPoint = datapoints[0];
        var endPoint = datapoints[datapoints.length - 1];

        map.setCamera({
          bounds: atlas.data.BoundingBox.fromData([startPoint, endPoint]),
          padding: 80,
        });

        //Use MapControlCredential to share authentication between a map control and the service module.
        var pipeline = atlas.service.MapsURL.newPipeline(
          new atlas.service.MapControlCredential(map)
        );

        //Construct the RouteURL object
        var routeURL = new atlas.service.RouteURL(pipeline);

        //Start and end point input to the routeURL
        //var coordinates= [[startPoint.geometry.coordinates[0], startPoint.geometry.coordinates[1]], [endPoint.geometry.coordinates[0], endPoint.geometry.coordinates[1]]];
        console.log(arraycoor);
        //Make a search route request
        routeURL
          .calculateRouteDirections(
            atlas.service.Aborter.timeout(10000),
            arraycoor
          )
          .then((directions) => {
            //Get data features from response
            var data = directions.geojson.getFeatures();
            datasource.add(data);
          });}
    function set_cam_pos(id){
      console.log(cam_pos)
      console.log(cam_pos[id])
     
    }
  </script>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"
  />
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='favicon.ico') }}"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='bootstrap/css/custom.css') }}"
  />
</head>
<html>
  <body onload="GetMap()">
    <main>
      <!-- Step 1 -->
      <div class="col text-center">
        <br />
        <br />
        <h1 class="display-15 fw-bold text-primary">Step 1</h1>
        <h3>Select one of the recommended routes</h3>
        <br />
        <br />
      </div>
      <div id='myMap' style="height: 300px"></div>
      <script>
         var map = new atlas.Map(document.getElementById('myMap'), {
                authOptions: {
                  authType: "subscriptionKey",
                  subscriptionKey:
                    "lt6fNUPI6BbX8P-8NEZgH7Abs-8B0L_KQFO8rnVbM5I",
                }
              });
      </script>
      <!-- Display Routes-->
      <div class="container">
        <div class="wrapper" id="items_wrap">
          
          
        </div>
      </div>
      <br />
      <br />
    </main>
  </body>
</html>
