<!DOCTYPE html>
<head>
  <title>Home</title>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"
  />
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='favicon.ico') }}"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='bootstrap/css/custom.css') }}"
  />
  <script>
    var cam_pos = [];
    var map, client;
    var colors = ["#E50000","#AA7C7C","#990000"]

    function httpGet(theUrl)
    {
        let xmlhttp;
        
        if (window.XMLHttpRequest) { // code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp=new XMLHttpRequest();
        } else { // code for IE6, IE5
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        
        xmlhttp.onreadystatechange=function() {
            if (xmlhttp.readyState==4 && xmlhttp.status==200) {
                return xmlhttp.responseText;
            }
        }
        xmlhttp.open("GET", theUrl, false);
        xmlhttp.send();
        
        return xmlhttp.response;
    }
    function GetMap() {
      var xmlhttp=new XMLHttpRequest();
       //Instantiate a map object
       

       map.events.add("ready", function () {
        //Create a data source and add it to the map.
        
       // load_map_data(1);
       map.sources.add(datasource);

        //Add a layer for rendering the route lines and have it render under the map labels.
        map.layers.add(
          new atlas.layer.LineLayer(datasource, null, {
            strokeColor: color,
            strokeWidth: 5,
            lineJoin: "round",
            lineCap: "round",
          }),
          "labels"
        );

        map.layers.add(
          new atlas.layer.SymbolLayer(datasource, null, {
            iconOptions: {
              image: ["get", "icon"],
              allowOverlap: true,
            },
            textOptions: {
              textField: ["get", "title"],
              offset: [0, 1.2],
            },
            filter: [
              "any",
              ["==", ["geometry-type"], "Point"],
              ["==", ["geometry-type"], "MultiPoint"],
            ], //Only render Point or MultiPoints in this layer.
          })
        );

        
      });
      //var titleList =httpGet('/tracks/3');
      //console.log("titleList")
     // console.log(titleList)
      //Add Map Control JavaScript code here.
      //Wait until the map resources are ready.
     
    }
  </script>
</head>
<html>
  <body onload="GetMap()">
    <main>
      <!-- Step 1 -->
      <div class="col text-center">
        <br />
        <br />
        <h1 class="display-15 fw-bold text-primary">Lets Start your Challenge!</h1>
      </div>
      <div id='myMap' style="height: 300px"></div>
      <script>
         var map = new atlas.Map(document.getElementById('myMap'), {
                authOptions: {
                  authType: "subscriptionKey",
                  subscriptionKey:
                    "lt6fNUPI6BbX8P-8NEZgH7Abs-8B0L_KQFO8rnVbM5I",
                }
              });
              </script>
      <!-- Display Routes-->
      <div class="labeling-container">
        
        <div class="wrapper2" id="items_wrap">
          </div>
        </div>
       
    </main>
  </body>
</html>
