<!DOCTYPE html>
<head>
  <title>Home</title>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"
  />
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='favicon.ico') }}"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='bootstrap/css/custom.css') }}"
  />
  <script src="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.js"></script>

  <!-- Add a reference to the Azure Maps Services Module JavaScript file. -->
  <script src="https://atlas.microsoft.com/sdk/javascript/service/2/atlas-service.min.js"></script>
  <script>
    var cam_pos = [];
    var map, client;
    var colors = ["#E50000","#AA7C7C","#990000"]

    function httpGet(theUrl)
    {
        let xmlhttp;
        
        if (window.XMLHttpRequest) { // code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp=new XMLHttpRequest();
        } else { // code for IE6, IE5
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        
        xmlhttp.onreadystatechange=function() {
            if (xmlhttp.readyState==4 && xmlhttp.status==200) {
                return xmlhttp.responseText;
            }
        }
        xmlhttp.open("GET", theUrl, false);
        xmlhttp.send();
        
        return xmlhttp.response;
    }
    function GetMap() {
      var xmlhttp=new XMLHttpRequest();
       //Instantiate a map object
      
             var map = new atlas.Map('myMap', {
                 center: [7.6051599,50.3998413],
                 zoom: 12,
                 language: 'en-US',
                 authOptions: {
                     authType: 'subscriptionKey',
                     subscriptionKey: 'lt6fNUPI6BbX8P-8NEZgH7Abs-8B0L_KQFO8rnVbM5I'
                 }
             });
         
     
    }
  </script>
</head>
<html>
  <body onload="GetMap()">
    <main>
      <!-- Step 1 -->
      <div class="col text-center">
        <br />
        <br />
        <h1 class="display-15 fw-bold text-primary">Lets Start your Challenge!</h1>
      </div>
      <div id='myMap' style="height: 300px"></div>
      <!-- Display Routes-->
      <div class="labeling-container">
        
        <div class="wrapper2" id="items_wrap">
          </div>
        </div>
       
    </main>
  </body>
</html>
